.home {
    height: 70%;
    margin-left: 100px
    
    
  }

.green {
    color: green;
    margin-left: 180px;
    text-align: center;
    
}

.blue {
    color: darkblue;
    text-align: center;
}