.navlink {
    color: darkblue;
    text-decoration: none;
  }
  .navlink a:hover,
  .navlink a:active {
    background-color: gainsboro;

  }
  
  .header-list-item, .footer-list-item {
    display: inline-block;
    height: auto;
    margin-right: 2%;
    cursor: pointer;
    padding: 0.5%;
    margin: 0.1%;
    vertical-align: top;
  }
  
  .header-list-item:not(:first-child) {
    padding: 10px;
    margin-top: 7px;
    border: 1px solid green;
    border-radius: 5%;
  }
  
  .header-list-item:hover {
    background-color: gainsboro;
    border: 2px solid green;
    font-weight: bold;
  }
  
  
  
  /* footer */
  .footer-link {
    color: #234465;
    text-decoration: none;
  }
  
  
  .footer-list-item:nth-child(1) {
    margin-left: 1%;
  }
  
  
  .footer-list-item:not(:last-child) {
    padding: 2%;
    margin-top: 1.5%;
    border-bottom: 2px solid #234465;
  }
  
  .footer-list-item:hover {
    border-bottom: none;
    border-top: 2px solid #234465;
    font-weight: bold;
  }
  
  
  .aside-list-item {
    display: block;
    width: 98%;
    border: 1px solid green;
    
    margin-bottom: 1%;
    height: 5vh;
    text-align: center;
  }
  
  .aside-link {
    color: #234465;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    height: 60%;
    display: block;
  }
  
  .aside-list-item:hover {
    font-weight: bold;
    border: 1px solid green;
    background-color: gainsboro;
    
  }
  